---
import CardLarge from "../components/CardLarge.astro";
import Cards from "../components/Cards.astro";
import Layout from "../layouts/Layout.astro";

//Character rick and morty

const characters = await fetch("https://rickandmortyapi.com/api/character");
const data = await characters.json();

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Información de estas personas">
  <section class="flex flex-row flex-wrap items-center justify-center">
    <div
      class="flex flex-row flex-wrap w-[90%] min-h-2/4  items-center justify-center bg-neutral-900 gap-2 mb-5 border-b border-neutral-800 pb-4"
    >
      {
        data.results.map((item: any) => (
          <CardLarge
            name={item.name}
            species={item.species}
            gender={item.gender}
            image={item.image}
            id={item.id}
          />
        ))
      }
    </div>
  </section>
  <!-- Section logo -->
  <section
    id="about"
    class="w-full min-h-80 flex flex-row flex-wrap gap-8 justify-center items-center"
  >
    <div class="flex flex-column flex-wrap w-2xl h-40 items-center justify-center">
      <picture class="w-80 h-40 flex justify-center items-center">
        <img src="/public/images/logo-adrian.png" class="transform scale-50" alt="logo-adrian" />
      </picture>
      <h3 class="text-white text-balance">Adrián Machado - Frontend Developer - Angular & Astro</h3>
    </div>
    <div
      class="flex flex-column w-2xl h-80 text-center items-center justify-center text-white text-balance"
    >
      <p>
        This is my first project built with Astro, a framework I'm currently
        learning. It's part of my journey into trying out new tools and
        improving my frontend skills. I chose the Rick and Morty API to
        experiment with routing, dynamic pages, and data fetching.
      </p>
    </div>
  </section>
</Layout>
