---
import CardLarge from "../components/CardLarge.astro";
import Cards from "../components/Cards.astro";
import Layout from "../layouts/Layout.astro";

//Character rick and morty

const characters = await fetch("https://rickandmortyapi.com/api/character");
const data = await characters.json();

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Información de estas personas">
  <section>
    <div
      class="flex flex-row flex-wrap w-auto min-h-2/4 items-center justify-center bg-neutral-900 gap-2 mb-5"
    >
      {
        data.results.map((item: any) => (
          <CardLarge
            name={item.name}
            species={item.species}
            gender={item.gender}
            image={item.image}
            id={item.id}
          />
        ))
      }
    </div>
  </section>
  <!-- Section logo -->
  <div
    class="flex flex-col w-auto h-40 bg-neutral-800  mask-radial-[50%_100%] mask-radial-at-bottom mask-radial-from-40% mask-radial-to-100% bottom items-center justify-center gap-1"
  >
    <div class="size-25 rounded-full flex justify-center items-center p-1">
      <img src="/public/images/logo-adrian.png" alt="Logo-Adrián" />
    </div>
    <span class="text-white">Adrián Machado - Frontend Developer</span>
  </div>

  <!-- Section about - continue here -->
  <section class="text-white">
    <div
      class="flex flex-col w-full min-h-24 flex-wrap text-balance text-center bg-neutral-800 justify-center mask-radial-[50%_100%] mask-radial-at-top mask-radial-from-40% mask-radial-to-100% bottom"
    >
      <p>
        This is my first project built with Astro, a framework I'm currently
        learning. 
      </p>
      <p>
        It's part of my journey into trying out new tools and
        improving my frontend skills. I chose the Rick and Morty API to
        experiment with routing, dynamic pages, and data fetching.
      </p>
    </div>
  </section>
</Layout>
