---
import type { GetStaticPaths } from "astro";
interface Props {
  name: string;
  species: string;
  image: string;
  id?: number;
}

const { name, species, image, id } = Astro.props as Props;
---

<div
  class="flex flex-col bg-neutral-800/30 border border-neutral-800/50 items-center size-80 rounded-xl p-3 gap-3 hover:shadow-md relative group overflow-hidden bg-zinc-900 text-white"
  id="card"
>
  <div
    id="glow"
    class="pointer-events-none absolute inset-0 z-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
  >
  </div>
  <!-- Icon Person -->
  <div class="bg-amber-950 w-64 h-40 rounded-2xl">
    <img
      src={image}
      alt="profile-character"
      class="w-full h-full overflow-hidden rounded-2xl bg-contain"
    />
  </div>
  <!-- title name -->
  <div class="w-60 h-8 p-2 text-white text-center">
    {name}
  </div>

  <div class="w-60 h-8 p-2 text-white text-center">
    {species}
  </div>
</div>

<script client:load>
  const card = document.getElementById("card");
  const glow = document.getElementById("glow");

  if (card && glow) {
    card.addEventListener("mousemove", (e) => {
      const rect = card.getBoundingClientRect();
      const x = e.clientX - rect.left;
      const y = e.clientY - rect.top;

      glow.style.background = `radial-gradient(
        140px circle at ${x}px ${y}px,
        rgba(185, 185, 185, 0.2),
        transparent 60%
      )`;
    });

    card.addEventListener("mouseleave", () => {
      glow.style.background = "none";
    });
  }
</script>
